# Task 4

Support Vector Machines (SVM) is a supervised learning algorithm, which can be applicable to both classification and regression. The data set provided contains normal and fraudulent transactions in excel file “Week6-Fraud_data” in sheets “FraudTrain” and “FraudTest”. Using Support Machine Model (SVM), predict whether the transactions are Normal or Fraudulent based on the features of the transactions in the dataset.

In [1]:
# import the standard labries
import pandas as pd
import numpy  as np
from matplotlib import  pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.svm import SVC

# 1. load the dataset

In [2]:
train = pd.read_excel('Week6-Fraud_data.xlsx', sheet_name='fraudTrain')

In [33]:
test = pd.read_excel('Week6-Fraud_data.xlsx', sheet_name='fraudTest')

In [34]:
test

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,Data_FLAG
0,0,2020-06-21 12:14:25,2291163933867240,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0,TESTING
1,1,2020-06-21 12:14:33,3573030041201290,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0,TESTING
2,2,2020-06-21 12:14:53,3598215285024750,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0,TESTING
3,3,2020-06-21 12:15:15,3591919803438420,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0,TESTING
4,4,2020-06-21 12:15:17,3526826139003040,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0,TESTING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,2020-12-31 23:59:07,30560609640617,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,...,-91.8912,519,Town planner,1966-02-13,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0,TESTING
555715,555715,2020-12-31 23:59:09,3556613125071650,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,...,-95.4401,28739,Futures trader,1999-12-27,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0,TESTING
555716,555716,2020-12-31 23:59:15,6011724471098080,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,...,-118.9017,3684,Musician,1981-11-29,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0,TESTING
555717,555717,2020-12-31 23:59:24,4079773899158,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,...,-116.4493,129,Cartographer,1965-12-15,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0,TESTING
555718,555718,2020-12-31 23:59:34,4170689372027570,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,...,-97.4798,116001,Media buyer,1993-05-10,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0,TESTING

In [ ]:
train.head()

In [35]:
df = pd.concat([train, test], ignore_index=True)

# 2.Data Preprocessing

In [36]:
#check the missing 
df.isnull().sum()

trans_date_trans_time          0
cc_num                         0
merchant                       0
category                       0
amt                            0
first                          0
last                           0
gender                         0
street                         0
city                           0
state                          0
zip                            0
lat                            0
long                           0
city_pop                       0
job                            0
dob                            0
unix_time                      0
merch_lat                      0
merch_long                     0
is_fraud                       0
Data_FLAG                      0
Unnamed: 0               1048575
trans_num                1048575
dtype: int64

there is no missing vlaue in data

In [39]:
# Remove unnamed columns
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [40]:
df.drop(columns=['trans_num'], inplace=True)

In [45]:
df.dtypes

trans_date_trans_time    datetime64[ns]
cc_num                            int64
merchant                         object
category                         object
amt                             float64
first                            object
last                             object
gender                           object
street                           object
city                             object
state                            object
zip                               int64
lat                             float64
long                            float64
city_pop                          int64
job                              object
dob                      datetime64[ns]
unix_time                         int64
merch_lat                       float64
merch_long                      float64
is_fraud                          int64
Data_FLAG                        object
dtype: object

In [46]:
from sklearn.preprocessing import LabelEncoder

# Identify object columns
object_cols = df.select_dtypes(include=['object']).columns

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply LabelEncoder to each object column
for col in object_cols:
    df[col] = label_encoder.fit_transform(df[col])

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['int', 'str']

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
df['merchant'] = label_encoder.fit_transform(df['merchant'])

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['int', 'str']

In [44]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
df['category'] = label_encoder.fit_transform(df['category'])

TypeError: Encoders require their input argument must be uniformly strings or numbers. Got ['int', 'str']

In [18]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['first'] = label_encoder.fit_transform(train['first'])

In [19]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['last'] = label_encoder.fit_transform(train['last'])

In [20]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['gender'] = label_encoder.fit_transform(train['gender'])

In [21]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['street'] = label_encoder.fit_transform(train['street'])

In [22]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['city'] = label_encoder.fit_transform(train['city'])

In [23]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['state'] = label_encoder.fit_transform(train['state'])

In [24]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['job'] = label_encoder.fit_transform(train['job'])

In [31]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()
# Fit and transform the 'merchant' column
train['Data_FLAG'] = label_encoder.fit_transform(train['Data_FLAG'])

In [32]:
train

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,unix_time,merch_lat,merch_long,is_fraud,Data_FLAG
0,2019-01-01 00:00:18,2703186189652090,514,8,4.97,160,18,0,557,517,...,36.0788,-81.1781,3495,370,1988-03-09,1325376018,36.011293,-82.048315,0,0
1,2019-01-01 00:00:44,630423337322,241,4,107.23,305,157,0,426,600,...,48.8878,-118.2105,149,428,1978-06-21,1325376044,49.159047,-118.186462,0,0
2,2019-01-01 00:00:51,38859492057661,390,0,220.11,113,380,1,591,459,...,42.1808,-112.2620,4154,307,1962-01-19,1325376051,43.150704,-112.154481,0,0
3,2019-01-01 00:01:16,3534093764340240,360,2,45.00,161,461,1,912,83,...,46.2306,-112.1138,1939,328,1967-01-12,1325376076,47.034331,-112.561071,0,0
4,2019-01-01 00:03:06,375534208663984,297,9,41.96,332,149,1,411,212,...,38.4207,-79.4629,99,116,1986-03-28,1325376186,38.674999,-78.632459,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2020-03-10 16:07:29,6011975266774120,166,5,77.00,138,439,0,51,23,...,39.0305,-76.5515,92106,2,1943-05-28,1362931649,38.779464,-76.317042,0,0
1048571,2020-03-10 16:07:50,4839043708100390,110,9,116.94,239,58,0,39,331,...,41.1826,-92.3097,1583,211,1999-06-28,1362931670,41.400318,-92.726724,0,0
1048572,2020-03-10 16:08:31,571844099986,456,6,21.27,308,289,0,5,450,...,38.2507,-85.7476,736284,175,1952-04-02,1362931711,37.293339,-84.798122,0,0
1048573,2020-03-10 16:08:38,4646845581490329600,620,5,9.52,182,23,0,571,850,...,40.7320,-73.1000,4056,193,1990-06-25,1362931718,39.773077,-72.213209,0,0
1048574,2020-03-10 16:08:50,2283743876903620,83,9,6.81,293,465,0,904,12,...,34.0770,-84.3033,165556,351,1997-12-27,1362931730,33.601468,-83.891921,0,0

In [ ]:
# Define features (X) and target (y)
X = train.drop(columns=['is_fraud'])  # Input variables
y = train['is_fraud']                 # Output/Target variable